@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

.main-container{
    display: flex;
    justify-content:center ;
    align-items: center;
}
a{
    text-decoration: none;
    color: #4C5FD5;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-top: 5rem;
    width: 95%;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: sans-serif;
    line-height: 2;
}

.titulo{
    font-weight: bold;
    font-size: 2rem;
    font-family: "Single Day", cursive;
}
.imagen img{
    width: 90px;
    height: 10rem;
}
@media only screen and (max-width: 582px) {
    
    .main {
        grid-template-columns: 100%;
        width: 95%;
       
    }
}